// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  background-color: black;
}

a {
  // background-color: rgb(175, 252, 249);
  // color: white;
  // padding: 10px;
  // list-style: none;
  // // margin: auto;
}

.grow {
  transition: .5s;
}

.grow:hover {
  padding: 20px;
}

h2 {
  font-size: 50px;
}

.body {
  background-color: black;
}
